@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

body {
	margin: 0;
	padding: 40px 0 100px;

	background-color: #284b59;
	background-image: radial-gradient(
		circle,
		rgb(44, 83, 100),
		rgb(32, 58, 67),
		rgb(15, 32, 39)
	);

	font-family: Manrope, sans-serif;
}

.logo {
	margin-bottom: 30px;
}

.logo__title {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #77b8c2;
	letter-spacing: 0.02em;
}

.logo__desc {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: #77b8c2;
}

h1 {
	margin-bottom: 80px;
	text-align: center;
	color: #fff;
	font-weight: 800;
	font-size: 32px;
}

.link-wrapper {
	padding-top: 50px;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
}

.link-wrapper a {
	color: #77b8c2;
	/* text-decoration: none; */
	opacity: 0.5;
	text-decoration-line: underline;
}
