.about {
    padding-top: 120px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {
    max-width: 630px;
    text-align: center;
}

.about__wrapper {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.about__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: center;

    gap: 40px;
}

.about__content-text {
    max-width: 400px;
}
.about__content-text p {
    margin-top: 20px;
    line-height: 1.55;
}

.about__content-header {
    justify-items: center;
}
.about__content-text__header {
    max-width: 600px;
}

// .about__content-video {
//     max-width: 600px;
// }
