.about {
    padding-top: 120px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    max-width: 630px;
    text-align: center;
}

.about__wrapper {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    @media (max-width: 1000px) {
        gap: 60px;
        padding-top: 80px;
    }
}

.about__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: center;

    gap: 40px;

    &-header {
        display: flex;
        justify-items: center;

        @media (max-width: 1280px) {
            display: flex;
            flex-direction: column-reverse;

            text-align: center;
        }
    }

    &-text {
        max-width: 400px;

        p {
            margin-top: 20px;
            line-height: 1.55;
        }

        &__header {
            max-width: 600px;

            @media (max-width: 1280px) {
                max-width: 960px;
            }
        }
    }
}

// .about__content-video {
//     max-width: 600px;
// }
