.header {
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 120px;
}

.header-content__title p {
    margin-top: 10px;
    font-size: 20px;
}

.header-content__profit {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-weight: 700;
}

.header-profit__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
