.nav {
    // border-bottom: 1px solid #26292d;
    padding: 20px 0;
    // background-color: var(--dark-bg);
    // color: var(--text-white);
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: auto;
    // z-index: 296 !important;
    // position: fixed;
}

.nav-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-row {
    display: flex;
    // justify-content: flex-end;
    column-gap: 30px;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    // @media (max-width: 650px) {
    //     justify-content: space-between;
    // }
}

.logo {
    width: 20%;
}

.nav-header {
    font-size: 16px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
}

.nav-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nav-info--tel {
    color: var(--text-color);
}
.nav-list__link {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-list__item:hover {
    opacity: 0.8;
}
