.nav-header {
    // border-bottom: 1px solid #26292d;
    padding: 20px 0;
    // background-color: var(--dark-bg);
    // color: var(--text-white);
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: auto;
    // z-index: 296 !important;
    // position: fixed;
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem); // 16 -12

    nav {
        @media (max-width: 580px) {
            display: none;
        }
    }
}

.nav-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-row {
    display: flex;
    // justify-content: flex-end;
    column-gap: 30px;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;

    &__top {
        text-align: center;

        @media (max-width: 730px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
}

.nav-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-weight: 500;
    min-width: 139px;

    @media (max-width: 730px) {
        flex-direction: column;
        align-items: center;
    }
}
.nav-info--tel {
    color: var(--nm-color-blue);
}
.nav-info--tel-form {
    color: var(--nm-color-blue);
}
.nav-list__link {
    text-transform: uppercase;
    color: var(--nm-color-blue);
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem); // 16 -12
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-list__item:hover {
    opacity: 0.8;
}
