@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem); // 18 - 14
	font-weight: 300;

	border: 1px solid var(--text-color);
	border-radius: var(--border-radius);
	margin: 15px;
}

img {
	display: block;
}

.title-1 {
	font-size: 25px;
	font-weight: 700;
}

.title-2 {
	font-size: clamp(2.188rem, 1.619rem + 2.84vw, 3.75rem); // 60 - 35
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.title-3 {
	font-size: 30px;
}

.title-4 {
	font-weight: 600;
	font-size: clamp(1.125rem, 0.943rem + 0.91vw, 1.625rem); //26 - 18
}

.title-5 {
	font-size: clamp(1.125rem, 0.943rem + 0.91vw, 1.625rem); //26 - 18
	font-weight: 500;
}


