:root {
	--container-width: 1330px;
	--container-padding: 15px;

	--font-main: "Roboto", Arial, sans-serif;
	--font-primary: "Helvetica", sans-serif;
	--font-secondary: "Merriweather", serif;

	--page-bg: #fff;
	--dark-bg: #1a1d21ec;
	--text-color: #000;
	--text-color-white: #fff;
	--text-muted: #909090;
	--accent: #35aff4;
	--text-white: #fff;
	--sun-clr: #f3d05e;

	// кнопа тт
	--dark-clr: hsl(246, 23%, 16%);
	--light-clr: hsl(240, 100%, 98%);
	--clr-foreground: var(--dark-clr);
	--clr-background: var(--light-clr);
	--fill-sun: var(--dark-clr);
}

.dark-theme {
	--fill-sun: var(--sun-clr);
	--clr-foreground: var(--light-clr);
	--clr-background: var(--dark-clr);
	--page-bg: #252526;
	--text-color: #fff;
	--page-bg: #252526;
	--dark-bg: #fff;
}
