:root {
	--container-width: 1330px;
	--container-padding: 15px;

	--font-main: "Roboto", Arial, sans-serif;
	--font-primary: "Helvetica", sans-serif;
	--font-secondary: "Merriweather", serif;

	--page-bg: #fff;
	--dark-bg: #1a1d21ec;
	--text-color: #000;
	--text-color-white: #fff;
	--text-muted: #909090;
	--accent: #35aff4;
	--text-white: #fff;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
	--dark-bg: #fff;
}
